---
import Container from "@components/Container.astro"
import FeaturedPostCard from "@components/FeaturedPostCard.astro"
import Link from "@components/Link.astro"
import Sparkles from "@components/Sparkles.astro"
import { config } from "@config"
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content"

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft && post.data.featured)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6)
---

<Layout title={config.site.title} description={config.metadata.description}>
  <Container>
    <Sparkles text={config.site.title} />
    <div class="mt-4 space-y-16 px-4">
      <section class="text-center">
        <article class="mx-auto max-w-2xl space-y-4 text-center">
          <span>
            <p>
              Welcome to <b>'{config.site.title}'</b>, where I write about a
              variety of topics that currently capture my interest, including <span
                class="text-yellow">Software Architecture</span
              >, <span class="text-cyan">System Design</span>, <span
                class="text-red">Software Engineering</span
              >, <span class="text-blue-300">Music Production</span>, and <span
                class="text-magenta">Cybersecurity</span
              >.
            </p>
          </span>
        </article>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-foreground">Featured Articles</h2>
          <Link href="/blog" class="underline"> See all posts </Link>
        </div>
        <ul class="not-prose grid gap-8">
          {blog.map((post, i) => <FeaturedPostCard post={post} index={i} />)}
        </ul>
      </section>
    </div>
  </Container>
</Layout>
