---
import { AnimatedText } from "@components/AnimatedText"
import Card from "@components/Card"
import Header from "@components/Header.astro"
import Hr from "@components/Hr.astro"
import { socials } from "@config/social"
import Layout from "@layouts/Layout.astro"
import getSortedPosts from "@utils/getSortedPosts"
import slugify from "@utils/slugify"
import { getCollection } from "astro:content"

const posts = await getCollection("blog")
const sortedPosts = getSortedPosts(posts)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
const socialCount = socials.filter(social => social.active).length
---

<Layout title="Synth & Syntax">
  <Header />
  <section class="grid h-full grid-cols-12 overflow-hidden">
    <aside class="hidden overflow-y-auto md:col-span-3 md:block lg:col-span-2">
    </aside>
    <section
      class="relative col-span-12 h-[84dvh] overflow-y-auto md:col-span-9 md:h-auto lg:col-span-10"
    >
      <div class="my-auto">
        <article class="min-w-full space-y-10 p-5">
          <header class="my-10">
            <p class="text-lg font-extralight text-muted-foreground">
              Hello, I am <h1
                class="text-3xl font-medium text-foreground sm:text-4xl md:text-6xl"
              >
                Daniel Smith
              </h1>
            </p>
            <AnimatedText client:load />
          </header>

          <div class="text-md max-w-4xl space-y-3">
            <p class="text-muted-foreground">
              Welcome to <b>Synth & Syntax</b>, my personal site and blog, where
              I write about a variety of topics that currently capture my
              interest. Topics include <span class="italic text-yellow-500"
                >Software Architecture</span
              >, <span class="italic text-cyan-500">System Design</span>, <span
                class="italic text-red-500">Software Engineering</span
              >, <span class="italic text-blue-500">Music Production</span>, and <span
                class="italic text-magenta">Cybersecurity</span
              >.
            </p>
            <!-- {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <div class="social-links text-muted-foreground">
                Social Links: <Socials />
              </div>
            </div>
          )
        } -->
          </div>

          <hr class="max-w-4xl bg-accent" />

          {
            featuredPosts.length > 0 && (
              <>
                <section
                  id="featured"
                  class="text-md max-w-4xl space-y-2 text-muted-foreground"
                >
                  <h2 class="text-3xl text-foreground">Featured Posts</h2>
                  <ul>
                    {featuredPosts.map(({ data }) => (
                      <Card
                        href={`/posts/${slugify(data)}`}
                        frontmatter={data}
                        secHeading={false}
                      />
                    ))}
                  </ul>
                </section>
              </>
            )
          }
        </article>
      </div>
    </section>
  </section>

  <!-- <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section> -->
  <!-- </div> -->

  <!-- <Footer /> -->
</Layout>

<style>
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
