---
import Layout from "@layouts/Layout.astro"
import Container from "@components/ui/Container.astro"
import Link from "@components/ui/Link.astro"
import { getCollection } from "astro:content"
import { config } from "@config"
import { Sparkles } from "@components/ui/SparkleTitle"
import { ProjectBento } from "@components/ExampleBento"

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft && post.data.featured)
  .sort((a, b) => b.data.pubDatetime.valueOf() - a.data.pubDatetime.valueOf())
  .slice(0, 6)
---

<Layout title={config.site.title} description={config.metadata.description}>
  <Container>
    <Sparkles client:load text={config.site.title} />
    <div class="mt-4 space-y-16 px-4">
      <section class="text-center">
        <article class="mx-auto max-w-2xl space-y-4 text-center">
          <span class="animate">
            <p>
              Welcome to <b>'{config.site.title}'</b>, where I write about a
              variety of topics that currently capture my interest, including <span
                class="text-yellow">Software Architecture</span
              >, <span class="text-cyan">System Design</span>, <span
                class="text-red">Software Engineering</span
              >, <span class="text-blue-300">Music Production</span>, and <span
                class="text-magenta">Cybersecurity</span
              >.
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-foreground">Featured Articles</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose mx-4 grid gap-8">
          {
            blog.map((post, index) => (
              <li class="animate mb-12 grid grid-cols-1 gap-8 md:grid-cols-2">
                <div class={`${index % 2 === 0 ? "md:order-1" : "md:order-2"}`}>
                  <img
                    src={post.data.ogImage?.src ?? ""}
                    alt={post.data.title}
                    class="w-full rounded-lg"
                  />
                </div>
                <div
                  class={`flex flex-col justify-center ${index % 2 === 0 ? "md:order-2" : "md:order-1"}`}
                >
                  <h2 class="mb-2 border-none text-2xl font-bold">
                    {post.data.title}
                  </h2>
                  <p class="mb-4 text-muted-foreground">
                    {post.data.description}
                  </p>
                  <a
                    href={`/blog/${post.slug}`}
                    class="text-primary hover:underline"
                  >
                    Read more &rarr;
                  </a>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
      <!-- <ExampleBento client:load /> -->
    </div>
  </Container>
</Layout>

<style>
  .border-style {
    transition: transform 0.25s ease-in-out;
  }

  .border-style:hover {
    transform: scale(1.025);
  }
</style>
