---
import { SITE } from "@config"
import Layout from "@layouts/Layout.astro"
import { projects } from "../data"
import ProjectList from "../components/ProjectList.astro"
import Main from "@layouts/Main.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import { Image } from "@astrojs/image/components"

const title = "Projects"
const description =
  "Software developer focused on building CLI tools and web applications."
---

<Layout title={`Projects | ${SITE.title}`} description={description}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="Project & Accomplishment Porfolio">
    <div class="mt-4 flex flex-col space-y-8">
      <ul class="grid grid-cols-2 gap-x-4 gap-y-8">
        {
          projects.map(p => (
            <a class="transition-all" href="#">
              <li class="relative h-[250px] w-full rounded-2xl border-2 border-black shadow-md shadow-fblack transition-all duration-200 ease-in-out hover:scale-105 hover:border-fblack">
                <Image
                  src={p.image}
                  alt={p.name}
                  class="absolute z-10 h-full max-h-full w-full max-w-full rounded-2xl object-cover opacity-70"
                  height={250}
                  aspectRatio={"1:1"}
                />
                <div class="relative z-20 flex h-full w-full flex-col justify-end gap-2 p-4">
                  <div class="progressive-blur inset-0 h-full w-full rounded-2xl" />
                  <h2 class="text-2xl font-bold tracking-tight text-fwhite shadow-fblack text-shadow">
                    {p.name}
                  </h2>
                  <p class="line-clamp-3 text-ellipsis text-fwhite shadow-fblack text-shadow">
                    {p.description}
                  </p>
                </div>
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </Main>
  <Footer />
</Layout>
