---
import { config } from "@/config"
import Container from "@components/Container.astro"
import { MagnifyingGlass } from "@phosphor-icons/react"
import { MobileNav } from "./MobileNav"
import { Button } from "./ui/button"
import HeaderLink from "./HeaderLink.astro"
import ThemeSwitcher from "./ThemeSwitcher.astro"

const { pathname: path } = Astro.url
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <a href="/" class="order-0 flex items-center gap-2 text-2xl font-semibold"
        >{config.site.title}</a
      >
      <nav
        aria-label="Main Navigation"
        class="text-md hidden flex-col gap-6 font-medium md:flex md:flex-row md:items-center md:gap-5 lg:gap-6"
      >
        <ul>
          {
            config.mainMenu.map(({ href, name, target = "" }) => (
              <HeaderLink
                href={href}
                aria-current={path.includes(href) && "page"}
                isActive={path.includes(href)}
                target={target}
              >
                {name}
              </HeaderLink>
            ))
          }
        </ul>
      </nav>
      <div class="order-1 inline-flex">
        <nav>
          <Button
            id="magnifying-glass"
            aria-label="Search"
            size="icon"
            variant="ghost"
            className="hover:bg-transparent active:bg-transparent"
          >
            <MagnifyingGlass size={24} />
          </Button>
          <ThemeSwitcher />
          <MobileNav client:load />
        </nav>
      </div>
    </div>
  </Container>
</header>
