---
import ThemeToggle from "@/components/ThemeToggle.astro"
import { NavLink } from "@components/ui/nav-link"
import { site } from "@config/config"
import { main } from "@config/menu"
import { Image } from "astro:assets"

const { pathname } = Astro.url

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search" | "projects"
}

const { activeNav } = Astro.props
---

<nav
  class="relative z-10 flex grid-cols-12 items-center justify-between overflow-x-auto border-b bg-background md:grid"
>
  <!-- logo -->
  <a
    href="/"
    class="shrink-0 px-2.5 py-4 text-foreground transition-colors md:col-span-3 md:border-r md:px-5 lg:col-span-2"
  >
    {
      site.logo_enable ? (
        <Image
          src={site.logo}
          alt={site.logo_text}
          width={site.logo_width}
          height={site.logo_height}
        />
      ) : (
        site.title
      )
    }
  </a>

  <div class="flex items-center justify-between md:col-span-9 lg:col-span-10">
    <ul class="hidden w-max shrink-0 items-center divide-x border-r md:flex">
      {
        main.map(menu => (
          <NavLink
            href={menu.url}
            isActive={pathname === `${menu.url}/` || pathname === menu.url}
          >
            {menu.name}
          </NavLink>
        ))
      }
    </ul>
    <!--
    <Button
      variant="ghost"
      size="icon"
      className="h-14 w-14 shrink-0 rounded-none md:flex"
    >
      <Search className="h-[1.2rem] w-[1.2rem] scale-100 transition-all" />
    </Button> -->
    <ThemeToggle />
  </div>
</nav>
