---
import Container from "@components/ui/Container.astro"
import Layout from "./Layout.astro"
import { config } from "@/config"
import SocialLink from "@components/ui/SocialLink.astro"

const { frontmatter } = Astro.props
const { title, intro } = frontmatter
---

<Layout title={`${config.site.title} | ${title}`} description={intro}>
  <Container>
    <div
      class="grid grid-cols-1 gap-y-16 px-4 md:grid-cols-3 lg:grid-rows-[auto_1fr] lg:gap-y-12"
    >
      <div class="md:col-span-2 lg:order-first">
        <h1>{title}</h1>
        <article class="prose mt-6 dark:prose-invert">
          <slot />
        </article>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          {
            config.socials
              .filter(social => social.active && social.name !== "Mail")
              .map(social => (
                <SocialLink class="mt-4" href={social.href} icon={social.name}>
                  Follow on {social.name}
                </SocialLink>
              ))
          }

          {
            config.socials
              .filter(social => social.active && social.name === "Mail")
              .map(social => (
                <SocialLink
                  href={social.href}
                  icon="mail"
                  class="mt-8 border-t pt-8"
                >
                  {social.linkTitle}
                </SocialLink>
              ))
          }
        </ul>
      </div>
    </div>
  </Container>
</Layout>
