---
import Footer from "@components/Footer.astro"
import Head from "@components/Head.astro"
import Header from "@components/Header.astro"
import PageFind from "@components/PageFind.astro"
import ThemeScript from "@components/ThemeScript.astro"
import { site } from "@config/config"

type Props = {
  title: string
  description: string
  image?: string
  keywords?: string[]
}

const { title, description, image, keywords } = Astro.props
---

<!doctype html>
<html lang="en">
  <Head
    title={`${title} | ${site.title}`}
    description={description}
    image={image}
    keywords={keywords}
  />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PageFind />
    <ThemeScript />
  </body>
</html>
