---
import { config } from "@/config"
import FormattedDate from "@components/FormattedDate.astro"
import PageTitle from "@components/PageTitle.astro"
import TableOfContents from "@components/TableOfContents.svelte"
import Container from "@components/Container.astro"
import Layout from "@layouts/Layout.astro"

const { frontmatter, headings } = Astro.props
const { title, intro, updated, toc_enabled } = frontmatter
---

<Layout title={`${config.site.title} | ${title}`} description={intro}>
  <Container>
    <div class="flex flex-col flex-nowrap md:flex-row md:flex-wrap">
      {
        toc_enabled && (
          <div class="mx-auto w-full flex-1 transform ease-out md:order-last xl:ml-0 xl:mr-0">
            <div class="hidden h-full md:block">
              <TableOfContents {headings} client:only="svelte" />
            </div>
          </div>
        )
      }
      <div class="flex-none">
        <div class="mb-6 max-w-3xl space-y-4 px-4">
          <PageTitle title={title} />
          <div class="flex items-center gap-1.5">
            {
              updated && (
                <>
                  <div class="font-base text-sm">
                    <>
                      <strong>Updated:</strong>
                      <FormattedDate date={new Date(updated)} />
                    </>
                  </div>
                </>
              )
            }
          </div>
          {intro && <p class="mt-6 text-base">{intro}</p>}
        </div>
        <article
          class="prose z-10 !max-w-3xl overflow-hidden text-pretty px-4 dark:prose-invert md:mb-8 lg:mb-16 lg:px-0"
        >
          <slot />
        </article>
      </div>
    </div>
  </Container>
</Layout>
